<a href="https://colab.research.google.com/github/jovansgit/Hourly-Energy-Consumption/blob/main/Energy_Weather_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-11-14 23:34:04--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  4.93MB/s    in 0.2s

2022-11-14 23:34:04 (4.93 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [15]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://my-bootcamp-jovan.s3.amazonaws.com/Chicago_Weather_Data.csv"
spark.sparkContext.addFile(url)
weather_data_df = spark.read.csv(SparkFiles.get("Chicago_Weather_Data.csv"), sep=",", header=True, inferSchema=True)

In [16]:
weather_data_df.show()

+----------+-------------------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|        dt|             dt_iso|timezone|city_name|      lat|       lon| temp|visibility|dew_point|feels_like|temp_min|temp_max|pressure|sea_level|grnd_level|humidity|wind_speed|wind_deg|wind_gust|rain_1h|rain_3h|snow_1h|snow_3h|clouds_all|weather_id|weather_main|weather_description|weather_icon|
+----------+-------------------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|1293840000|2011-01-01 00:00:00|  -21600|  Chicago|41.878114|-87.629798|48.96|     10000|    47.03|     44.29|   44.76|   56.01|    1005|     null|      null|      93|     11.41|     170|     20.8|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|1293843600|2011-01-01 01:00:00|  -21600|  Chicago|41.878114|-87.629798|49.17|     10000|    47.25|     43.59|   44.64|   55.11|    1005|     null|      null|      93|     14.99|     170|    24.16|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|1293847200|2011-01-01 02:00:00|  -21600|  Chicago|41.878114|-87.629798| 49.1|     10000|    47.17|     45.21|   44.53|   55.47|    1005|     null|      null|      93|      9.17|     180|     null|    0.2|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293850800|2011-01-01 03:00:00|  -21600|  Chicago|41.878114|-87.629798|47.84|     10000|    44.76|     43.66|   44.26|   54.03|    1006|     null|      null|      89|      9.17|     170|     null|   0.12|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293854400|2011-01-01 04:00:00|  -21600|  Chicago|41.878114|-87.629798|48.09|     10000|    44.11|      42.8|   44.06|   55.11|    1005|     null|      null|      86|     12.75|     170|     null|   null|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293858000|2011-01-01 05:00:00|  -21600|  Chicago|41.878114|-87.629798|48.43|     10000|    43.52|     42.64|   43.72|   56.01|    1006|     null|      null|      83|     14.99|     190|    31.09|   null|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293861600|2011-01-01 06:00:00|  -21600|  Chicago|41.878114|-87.629798|47.86|     10000|    40.33|     40.64|   43.43|   51.39|    1007|     null|      null|      75|      20.8|     280|     null|   0.14|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293865200|2011-01-01 07:00:00|  -21600|  Chicago|41.878114|-87.629798|44.46|     10000|    28.42|     37.26|   42.28|   46.26|    1007|     null|      null|      52|     16.11|     260|    25.28|   0.15|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293868800|2011-01-01 08:00:00|  -21600|  Chicago|41.878114|-87.629798|38.19|     10000|    24.06|     29.89|   37.27|   39.99|    1008|     null|      null|      54|     13.87|     260|     20.8|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|1293872400|2011-01-01 09:00:00|  -21600|  Chicago|41.878114|-87.629798|33.98|     10000|    22.41|     25.52|   32.88|   38.01|    1009|     null|      null|      59|     11.41|     250|    19.46|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|1293876000|2011-01-01 10:00:00|  -21600|  Chicago|41.878114|-87.629798|30.56|     10000|     21.7|     20.17|   29.39|   36.03|    1008|     null|      null|      66|     13.87|     230|    29.97|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|1293879600|2011-01-01 11:00:00|  -21600|  Chicago|41.878114|-87.629798|29.08|     10000|    21.79|     17.04|   28.58|   33.15|    1009|     null|      null|      71|     17.22|     240|    21.92|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03n|
|1293883200|2011-01-01 12:00:00|  -21600|  Chicago|41.878114|-87.629798|27.68|     10000|    19.54|     15.64|   26.78|   30.99|    1009|     null|      null|      68|     16.11|     240|    23.04|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03n|
|1293886800|2011-01-01 13:00:00|  -21600|  Chicago|41.878114|-87.629798|26.92|     10000|    19.71|     14.67|   25.57|   30.09|    1009|     null|      null|      71|     16.11|     240|     null|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|1293890400|2011-01-01 14:00:00|  -21600|  Chicago|41.878114|-87.629798|26.33|     10000|    16.34|     13.89|   24.87|   28.11|    1010|     null|      null|      62|     16.11|     250|    32.21|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
|1293894000|2011-01-01 15:00:00|  -21600|  Chicago|41.878114|-87.629798|25.18|     10000|    14.22|     12.58|   24.55|   26.13|    1014|     null|      null|      59|     16.11|     240|    25.28|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|1293897600|2011-01-01 16:00:00|  -21600|  Chicago|41.878114|-87.629798|24.31|     10000|    11.61|     11.71|   23.85|   24.76|    1013|     null|      null|      54|     23.04|     240|    28.86|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|1293901200|2011-01-01 17:00:00|  -21600|  Chicago|41.878114|-87.629798|22.73|     10000|    10.11|     10.13|   21.99|   23.61|    1013|     null|      null|      54|     21.92|     240|    33.33|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|1293904800|2011-01-01 18:00:00|  -21600|  Chicago|41.878114|-87.629798|22.01|     10000|     9.05|      9.41|   21.09|   22.86|    1013|     null|      null|      53|      20.8|     240|    33.33|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
|1293908400|2011-01-01 19:00:00|  -21600|  Chicago|41.878114|-87.629798|22.24|     10000|     8.51|      9.64|   21.83|   22.86|    1013|     null|      null|      51|      20.8|     250|    32.21|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03d|
+----------+-------------------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
only showing top 20 rows

In [7]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://my-bootcamp-jovan.s3.amazonaws.com/COMED_hourly.csv"
spark.sparkContext.addFile(url)
Energy_data_df = spark.read.csv(SparkFiles.get("COMED_hourly.csv"), sep=",", header=True, inferSchema=True)

In [8]:
Energy_data_df.show()

+-------------------+--------+
|           Datetime|COMED_MW|
+-------------------+--------+
|2011-12-31 01:00:00|  9970.0|
|2011-12-31 02:00:00|  9428.0|
|2011-12-31 03:00:00|  9059.0|
|2011-12-31 04:00:00|  8817.0|
|2011-12-31 05:00:00|  8743.0|
|2011-12-31 06:00:00|  8735.0|
|2011-12-31 07:00:00|  8993.0|
|2011-12-31 08:00:00|  9363.0|
|2011-12-31 09:00:00|  9545.0|
|2011-12-31 10:00:00|  9676.0|
|2011-12-31 11:00:00|  9937.0|
|2011-12-31 12:00:00| 10139.0|
|2011-12-31 13:00:00| 10326.0|
|2011-12-31 14:00:00| 10359.0|
|2011-12-31 15:00:00| 10293.0|
|2011-12-31 16:00:00| 10240.0|
|2011-12-31 17:00:00| 10416.0|
|2011-12-31 18:00:00| 11225.0|
|2011-12-31 19:00:00| 11907.0|
|2011-12-31 20:00:00| 11812.0|
+-------------------+--------+
only showing top 20 rows

In [17]:
weather_data_df = weather_data_df.withColumnRenamed("dt_iso","Datetime")

In [18]:
weather_data_df.show()

+----------+-------------------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|        dt|           Datetime|timezone|city_name|      lat|       lon| temp|visibility|dew_point|feels_like|temp_min|temp_max|pressure|sea_level|grnd_level|humidity|wind_speed|wind_deg|wind_gust|rain_1h|rain_3h|snow_1h|snow_3h|clouds_all|weather_id|weather_main|weather_description|weather_icon|
+----------+-------------------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|1293840000|2011-01-01 00:00:00|  -21600|  Chicago|41.878114|-87.629798|48.96|     10000|    47.03|     44.29|   44.76|   56.01|    1005|     null|      null|      93|     11.41|     170|     20.8|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|1293843600|2011-01-01 01:00:00|  -21600|  Chicago|41.878114|-87.629798|49.17|     10000|    47.25|     43.59|   44.64|   55.11|    1005|     null|      null|      93|     14.99|     170|    24.16|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|1293847200|2011-01-01 02:00:00|  -21600|  Chicago|41.878114|-87.629798| 49.1|     10000|    47.17|     45.21|   44.53|   55.47|    1005|     null|      null|      93|      9.17|     180|     null|    0.2|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293850800|2011-01-01 03:00:00|  -21600|  Chicago|41.878114|-87.629798|47.84|     10000|    44.76|     43.66|   44.26|   54.03|    1006|     null|      null|      89|      9.17|     170|     null|   0.12|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293854400|2011-01-01 04:00:00|  -21600|  Chicago|41.878114|-87.629798|48.09|     10000|    44.11|      42.8|   44.06|   55.11|    1005|     null|      null|      86|     12.75|     170|     null|   null|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293858000|2011-01-01 05:00:00|  -21600|  Chicago|41.878114|-87.629798|48.43|     10000|    43.52|     42.64|   43.72|   56.01|    1006|     null|      null|      83|     14.99|     190|    31.09|   null|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293861600|2011-01-01 06:00:00|  -21600|  Chicago|41.878114|-87.629798|47.86|     10000|    40.33|     40.64|   43.43|   51.39|    1007|     null|      null|      75|      20.8|     280|     null|   0.14|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293865200|2011-01-01 07:00:00|  -21600|  Chicago|41.878114|-87.629798|44.46|     10000|    28.42|     37.26|   42.28|   46.26|    1007|     null|      null|      52|     16.11|     260|    25.28|   0.15|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|1293868800|2011-01-01 08:00:00|  -21600|  Chicago|41.878114|-87.629798|38.19|     10000|    24.06|     29.89|   37.27|   39.99|    1008|     null|      null|      54|     13.87|     260|     20.8|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|1293872400|2011-01-01 09:00:00|  -21600|  Chicago|41.878114|-87.629798|33.98|     10000|    22.41|     25.52|   32.88|   38.01|    1009|     null|      null|      59|     11.41|     250|    19.46|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|1293876000|2011-01-01 10:00:00|  -21600|  Chicago|41.878114|-87.629798|30.56|     10000|     21.7|     20.17|   29.39|   36.03|    1008|     null|      null|      66|     13.87|     230|    29.97|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|1293879600|2011-01-01 11:00:00|  -21600|  Chicago|41.878114|-87.629798|29.08|     10000|    21.79|     17.04|   28.58|   33.15|    1009|     null|      null|      71|     17.22|     240|    21.92|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03n|
|1293883200|2011-01-01 12:00:00|  -21600|  Chicago|41.878114|-87.629798|27.68|     10000|    19.54|     15.64|   26.78|   30.99|    1009|     null|      null|      68|     16.11|     240|    23.04|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03n|
|1293886800|2011-01-01 13:00:00|  -21600|  Chicago|41.878114|-87.629798|26.92|     10000|    19.71|     14.67|   25.57|   30.09|    1009|     null|      null|      71|     16.11|     240|     null|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|1293890400|2011-01-01 14:00:00|  -21600|  Chicago|41.878114|-87.629798|26.33|     10000|    16.34|     13.89|   24.87|   28.11|    1010|     null|      null|      62|     16.11|     250|    32.21|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
|1293894000|2011-01-01 15:00:00|  -21600|  Chicago|41.878114|-87.629798|25.18|     10000|    14.22|     12.58|   24.55|   26.13|    1014|     null|      null|      59|     16.11|     240|    25.28|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|1293897600|2011-01-01 16:00:00|  -21600|  Chicago|41.878114|-87.629798|24.31|     10000|    11.61|     11.71|   23.85|   24.76|    1013|     null|      null|      54|     23.04|     240|    28.86|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|1293901200|2011-01-01 17:00:00|  -21600|  Chicago|41.878114|-87.629798|22.73|     10000|    10.11|     10.13|   21.99|   23.61|    1013|     null|      null|      54|     21.92|     240|    33.33|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|1293904800|2011-01-01 18:00:00|  -21600|  Chicago|41.878114|-87.629798|22.01|     10000|     9.05|      9.41|   21.09|   22.86|    1013|     null|      null|      53|      20.8|     240|    33.33|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
|1293908400|2011-01-01 19:00:00|  -21600|  Chicago|41.878114|-87.629798|22.24|     10000|     8.51|      9.64|   21.83|   22.86|    1013|     null|      null|      51|      20.8|     250|    32.21|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03d|
+----------+-------------------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
only showing top 20 rows

In [21]:
#Join the two DataFrame
joined_df = Energy_data_df.join(weather_data_df,on="Datetime", how="inner")
joined_df.show()

+-------------------+--------+----------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|           Datetime|COMED_MW|        dt|timezone|city_name|      lat|       lon| temp|visibility|dew_point|feels_like|temp_min|temp_max|pressure|sea_level|grnd_level|humidity|wind_speed|wind_deg|wind_gust|rain_1h|rain_3h|snow_1h|snow_3h|clouds_all|weather_id|weather_main|weather_description|weather_icon|
+-------------------+--------+----------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|2011-01-01 01:00:00|  9631.0|1293843600|  -21600|  Chicago|41.878114|-87.629798|49.17|     10000|    47.25|     43.59|   44.64|   55.11|    1005|     null|      null|      93|     14.99|     170|    24.16|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|2011-01-01 02:00:00|  9273.0|1293847200|  -21600|  Chicago|41.878114|-87.629798| 49.1|     10000|    47.17|     45.21|   44.53|   55.47|    1005|     null|      null|      93|      9.17|     180|     null|    0.2|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 03:00:00|  9011.0|1293850800|  -21600|  Chicago|41.878114|-87.629798|47.84|     10000|    44.76|     43.66|   44.26|   54.03|    1006|     null|      null|      89|      9.17|     170|     null|   0.12|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 04:00:00|  8741.0|1293854400|  -21600|  Chicago|41.878114|-87.629798|48.09|     10000|    44.11|      42.8|   44.06|   55.11|    1005|     null|      null|      86|     12.75|     170|     null|   null|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 05:00:00|  8694.0|1293858000|  -21600|  Chicago|41.878114|-87.629798|48.43|     10000|    43.52|     42.64|   43.72|   56.01|    1006|     null|      null|      83|     14.99|     190|    31.09|   null|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 06:00:00|  8711.0|1293861600|  -21600|  Chicago|41.878114|-87.629798|47.86|     10000|    40.33|     40.64|   43.43|   51.39|    1007|     null|      null|      75|      20.8|     280|     null|   0.14|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 07:00:00|  8943.0|1293865200|  -21600|  Chicago|41.878114|-87.629798|44.46|     10000|    28.42|     37.26|   42.28|   46.26|    1007|     null|      null|      52|     16.11|     260|    25.28|   0.15|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 08:00:00|  9222.0|1293868800|  -21600|  Chicago|41.878114|-87.629798|38.19|     10000|    24.06|     29.89|   37.27|   39.99|    1008|     null|      null|      54|     13.87|     260|     20.8|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|2011-01-01 09:00:00|  9430.0|1293872400|  -21600|  Chicago|41.878114|-87.629798|33.98|     10000|    22.41|     25.52|   32.88|   38.01|    1009|     null|      null|      59|     11.41|     250|    19.46|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|2011-01-01 10:00:00|  9670.0|1293876000|  -21600|  Chicago|41.878114|-87.629798|30.56|     10000|     21.7|     20.17|   29.39|   36.03|    1008|     null|      null|      66|     13.87|     230|    29.97|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|2011-01-01 11:00:00| 10125.0|1293879600|  -21600|  Chicago|41.878114|-87.629798|29.08|     10000|    21.79|     17.04|   28.58|   33.15|    1009|     null|      null|      71|     17.22|     240|    21.92|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03n|
|2011-01-01 12:00:00| 10538.0|1293883200|  -21600|  Chicago|41.878114|-87.629798|27.68|     10000|    19.54|     15.64|   26.78|   30.99|    1009|     null|      null|      68|     16.11|     240|    23.04|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03n|
|2011-01-01 13:00:00| 10782.0|1293886800|  -21600|  Chicago|41.878114|-87.629798|26.92|     10000|    19.71|     14.67|   25.57|   30.09|    1009|     null|      null|      71|     16.11|     240|     null|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|2011-01-01 14:00:00| 10861.0|1293890400|  -21600|  Chicago|41.878114|-87.629798|26.33|     10000|    16.34|     13.89|   24.87|   28.11|    1010|     null|      null|      62|     16.11|     250|    32.21|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
|2011-01-01 15:00:00| 10784.0|1293894000|  -21600|  Chicago|41.878114|-87.629798|25.18|     10000|    14.22|     12.58|   24.55|   26.13|    1014|     null|      null|      59|     16.11|     240|    25.28|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|2011-01-01 16:00:00| 10928.0|1293897600|  -21600|  Chicago|41.878114|-87.629798|24.31|     10000|    11.61|     11.71|   23.85|   24.76|    1013|     null|      null|      54|     23.04|     240|    28.86|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|2011-01-01 17:00:00| 11133.0|1293901200|  -21600|  Chicago|41.878114|-87.629798|22.73|     10000|    10.11|     10.13|   21.99|   23.61|    1013|     null|      null|      54|     21.92|     240|    33.33|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|2011-01-01 18:00:00| 11924.0|1293904800|  -21600|  Chicago|41.878114|-87.629798|22.01|     10000|     9.05|      9.41|   21.09|   22.86|    1013|     null|      null|      53|      20.8|     240|    33.33|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
|2011-01-01 19:00:00| 12665.0|1293908400|  -21600|  Chicago|41.878114|-87.629798|22.24|     10000|     8.51|      9.64|   21.83|   22.86|    1013|     null|      null|      51|      20.8|     250|    32.21|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03d|
|2011-01-01 20:00:00| 12701.0|1293912000|  -21600|  Chicago|41.878114|-87.629798|22.68|     10000|     8.13|     10.08|   21.99|   23.54|    1013|     null|      null|      49|     24.16|     240|    33.33|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
+-------------------+--------+----------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
only showing top 20 rows

In [22]:
#Drop null values
dropna_df = joined_df.dropna()
dropna_df.show()

+--------+--------+---+--------+---------+---+---+----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|Datetime|COMED_MW| dt|timezone|city_name|lat|lon|temp|visibility|dew_point|feels_like|temp_min|temp_max|pressure|sea_level|grnd_level|humidity|wind_speed|wind_deg|wind_gust|rain_1h|rain_3h|snow_1h|snow_3h|clouds_all|weather_id|weather_main|weather_description|weather_icon|
+--------+--------+---+--------+---------+---+---+----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
+--------+--------+---+--------+---------+---+---+----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+

In [23]:
cleaned_df = joined_df
cleaned_df.show()

+-------------------+--------+----------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|           Datetime|COMED_MW|        dt|timezone|city_name|      lat|       lon| temp|visibility|dew_point|feels_like|temp_min|temp_max|pressure|sea_level|grnd_level|humidity|wind_speed|wind_deg|wind_gust|rain_1h|rain_3h|snow_1h|snow_3h|clouds_all|weather_id|weather_main|weather_description|weather_icon|
+-------------------+--------+----------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|2011-01-01 01:00:00|  9631.0|1293843600|  -21600|  Chicago|41.878114|-87.629798|49.17|     10000|    47.25|     43.59|   44.64|   55.11|    1005|     null|      null|      93|     14.99|     170|    24.16|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|2011-01-01 02:00:00|  9273.0|1293847200|  -21600|  Chicago|41.878114|-87.629798| 49.1|     10000|    47.17|     45.21|   44.53|   55.47|    1005|     null|      null|      93|      9.17|     180|     null|    0.2|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 03:00:00|  9011.0|1293850800|  -21600|  Chicago|41.878114|-87.629798|47.84|     10000|    44.76|     43.66|   44.26|   54.03|    1006|     null|      null|      89|      9.17|     170|     null|   0.12|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 04:00:00|  8741.0|1293854400|  -21600|  Chicago|41.878114|-87.629798|48.09|     10000|    44.11|      42.8|   44.06|   55.11|    1005|     null|      null|      86|     12.75|     170|     null|   null|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 05:00:00|  8694.0|1293858000|  -21600|  Chicago|41.878114|-87.629798|48.43|     10000|    43.52|     42.64|   43.72|   56.01|    1006|     null|      null|      83|     14.99|     190|    31.09|   null|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 06:00:00|  8711.0|1293861600|  -21600|  Chicago|41.878114|-87.629798|47.86|     10000|    40.33|     40.64|   43.43|   51.39|    1007|     null|      null|      75|      20.8|     280|     null|   0.14|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 07:00:00|  8943.0|1293865200|  -21600|  Chicago|41.878114|-87.629798|44.46|     10000|    28.42|     37.26|   42.28|   46.26|    1007|     null|      null|      52|     16.11|     260|    25.28|   0.15|   null|   null|   null|       100|       500|        Rain|         light rain|         10n|
|2011-01-01 08:00:00|  9222.0|1293868800|  -21600|  Chicago|41.878114|-87.629798|38.19|     10000|    24.06|     29.89|   37.27|   39.99|    1008|     null|      null|      54|     13.87|     260|     20.8|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|2011-01-01 09:00:00|  9430.0|1293872400|  -21600|  Chicago|41.878114|-87.629798|33.98|     10000|    22.41|     25.52|   32.88|   38.01|    1009|     null|      null|      59|     11.41|     250|    19.46|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04n|
|2011-01-01 10:00:00|  9670.0|1293876000|  -21600|  Chicago|41.878114|-87.629798|30.56|     10000|     21.7|     20.17|   29.39|   36.03|    1008|     null|      null|      66|     13.87|     230|    29.97|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|2011-01-01 11:00:00| 10125.0|1293879600|  -21600|  Chicago|41.878114|-87.629798|29.08|     10000|    21.79|     17.04|   28.58|   33.15|    1009|     null|      null|      71|     17.22|     240|    21.92|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03n|
|2011-01-01 12:00:00| 10538.0|1293883200|  -21600|  Chicago|41.878114|-87.629798|27.68|     10000|    19.54|     15.64|   26.78|   30.99|    1009|     null|      null|      68|     16.11|     240|    23.04|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03n|
|2011-01-01 13:00:00| 10782.0|1293886800|  -21600|  Chicago|41.878114|-87.629798|26.92|     10000|    19.71|     14.67|   25.57|   30.09|    1009|     null|      null|      71|     16.11|     240|     null|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04n|
|2011-01-01 14:00:00| 10861.0|1293890400|  -21600|  Chicago|41.878114|-87.629798|26.33|     10000|    16.34|     13.89|   24.87|   28.11|    1010|     null|      null|      62|     16.11|     250|    32.21|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
|2011-01-01 15:00:00| 10784.0|1293894000|  -21600|  Chicago|41.878114|-87.629798|25.18|     10000|    14.22|     12.58|   24.55|   26.13|    1014|     null|      null|      59|     16.11|     240|    25.28|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|2011-01-01 16:00:00| 10928.0|1293897600|  -21600|  Chicago|41.878114|-87.629798|24.31|     10000|    11.61|     11.71|   23.85|   24.76|    1013|     null|      null|      54|     23.04|     240|    28.86|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|2011-01-01 17:00:00| 11133.0|1293901200|  -21600|  Chicago|41.878114|-87.629798|22.73|     10000|    10.11|     10.13|   21.99|   23.61|    1013|     null|      null|      54|     21.92|     240|    33.33|   null|   null|   null|   null|       100|       804|      Clouds|    overcast clouds|         04d|
|2011-01-01 18:00:00| 11924.0|1293904800|  -21600|  Chicago|41.878114|-87.629798|22.01|     10000|     9.05|      9.41|   21.09|   22.86|    1013|     null|      null|      53|      20.8|     240|    33.33|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
|2011-01-01 19:00:00| 12665.0|1293908400|  -21600|  Chicago|41.878114|-87.629798|22.24|     10000|     8.51|      9.64|   21.83|   22.86|    1013|     null|      null|      51|      20.8|     250|    32.21|   null|   null|   null|   null|        40|       802|      Clouds|   scattered clouds|         03d|
|2011-01-01 20:00:00| 12701.0|1293912000|  -21600|  Chicago|41.878114|-87.629798|22.68|     10000|     8.13|     10.08|   21.99|   23.54|    1013|     null|      null|      49|     24.16|     240|    33.33|   null|   null|   null|   null|        75|       803|      Clouds|      broken clouds|         04d|
+-------------------+--------+----------+--------+---------+---------+----------+-----+----------+---------+----------+--------+--------+--------+---------+----------+--------+----------+--------+---------+-------+-------+-------+-------+----------+----------+------------+-------------------+------------+
only showing top 20 rows

In [52]:
#Create user dataframe for energy_consumption table
energy_consumption_df = cleaned_df.select(["Datetime", "COMED_MW"])
energy_consumption_df.show()

+-------------------+--------+
|           Datetime|COMED_MW|
+-------------------+--------+
|2011-12-31 01:00:00|  9970.0|
|2011-12-31 01:00:00|  9970.0|
|2011-12-31 02:00:00|  9428.0|
|2011-12-31 03:00:00|  9059.0|
|2011-12-31 04:00:00|  8817.0|
|2011-12-31 04:00:00|  8817.0|
|2011-12-31 05:00:00|  8743.0|
|2011-12-31 06:00:00|  8735.0|
|2011-12-31 07:00:00|  8993.0|
|2011-12-31 08:00:00|  9363.0|
|2011-12-31 09:00:00|  9545.0|
|2011-12-31 10:00:00|  9676.0|
|2011-12-31 11:00:00|  9937.0|
|2011-12-31 12:00:00| 10139.0|
|2011-12-31 13:00:00| 10326.0|
|2011-12-31 14:00:00| 10359.0|
|2011-12-31 15:00:00| 10293.0|
|2011-12-31 16:00:00| 10240.0|
|2011-12-31 17:00:00| 10416.0|
|2011-12-31 18:00:00| 11225.0|
+-------------------+--------+
only showing top 20 rows

In [57]:
#Create user dataframe for weather_df
weather_df = cleaned_df.select(["Datetime", "temp","visibility","dew_point", "feels_like","temp_min", "temp_max", "pressure", "humidity", "wind_speed", "wind_deg", "wind_gust", "rain_1h","rain_3h","snow_1h","clouds_all","weather_main","weather_description"])
weather_df.show()

+-------------------+-----+----------+---------+----------+--------+--------+--------+--------+----------+--------+---------+-------+-------+-------+----------+------------+-------------------+
|           Datetime| temp|visibility|dew_point|feels_like|temp_min|temp_max|pressure|humidity|wind_speed|wind_deg|wind_gust|rain_1h|rain_3h|snow_1h|clouds_all|weather_main|weather_description|
+-------------------+-----+----------+---------+----------+--------+--------+--------+--------+----------+--------+---------+-------+-------+-------+----------+------------+-------------------+
|2011-01-01 01:00:00|49.17|     10000|    47.25|     43.59|   44.64|   55.11|    1005|      93|     14.99|     170|    24.16|   null|   null|   null|       100|      Clouds|    overcast clouds|
|2011-01-01 02:00:00| 49.1|     10000|    47.17|     45.21|   44.53|   55.47|    1005|      93|      9.17|     180|     null|    0.2|   null|   null|       100|        Rain|         light rain|
|2011-01-01 03:00:00|47.84|     10000|    44.76|     43.66|   44.26|   54.03|    1006|      89|      9.17|     170|     null|   0.12|   null|   null|       100|        Rain|         light rain|
|2011-01-01 04:00:00|48.09|     10000|    44.11|      42.8|   44.06|   55.11|    1005|      86|     12.75|     170|     null|   null|   null|   null|       100|        Rain|         light rain|
|2011-01-01 05:00:00|48.43|     10000|    43.52|     42.64|   43.72|   56.01|    1006|      83|     14.99|     190|    31.09|   null|   null|   null|       100|        Rain|         light rain|
|2011-01-01 06:00:00|47.86|     10000|    40.33|     40.64|   43.43|   51.39|    1007|      75|      20.8|     280|     null|   0.14|   null|   null|       100|        Rain|         light rain|
|2011-01-01 07:00:00|44.46|     10000|    28.42|     37.26|   42.28|   46.26|    1007|      52|     16.11|     260|    25.28|   0.15|   null|   null|       100|        Rain|         light rain|
|2011-01-01 08:00:00|38.19|     10000|    24.06|     29.89|   37.27|   39.99|    1008|      54|     13.87|     260|     20.8|   null|   null|   null|        75|      Clouds|      broken clouds|
|2011-01-01 09:00:00|33.98|     10000|    22.41|     25.52|   32.88|   38.01|    1009|      59|     11.41|     250|    19.46|   null|   null|   null|       100|      Clouds|    overcast clouds|
|2011-01-01 10:00:00|30.56|     10000|     21.7|     20.17|   29.39|   36.03|    1008|      66|     13.87|     230|    29.97|   null|   null|   null|        75|      Clouds|      broken clouds|
|2011-01-01 11:00:00|29.08|     10000|    21.79|     17.04|   28.58|   33.15|    1009|      71|     17.22|     240|    21.92|   null|   null|   null|        40|      Clouds|   scattered clouds|
|2011-01-01 12:00:00|27.68|     10000|    19.54|     15.64|   26.78|   30.99|    1009|      68|     16.11|     240|    23.04|   null|   null|   null|        40|      Clouds|   scattered clouds|
|2011-01-01 13:00:00|26.92|     10000|    19.71|     14.67|   25.57|   30.09|    1009|      71|     16.11|     240|     null|   null|   null|   null|        75|      Clouds|      broken clouds|
|2011-01-01 14:00:00|26.33|     10000|    16.34|     13.89|   24.87|   28.11|    1010|      62|     16.11|     250|    32.21|   null|   null|   null|        75|      Clouds|      broken clouds|
|2011-01-01 15:00:00|25.18|     10000|    14.22|     12.58|   24.55|   26.13|    1014|      59|     16.11|     240|    25.28|   null|   null|   null|       100|      Clouds|    overcast clouds|
|2011-01-01 16:00:00|24.31|     10000|    11.61|     11.71|   23.85|   24.76|    1013|      54|     23.04|     240|    28.86|   null|   null|   null|       100|      Clouds|    overcast clouds|
|2011-01-01 17:00:00|22.73|     10000|    10.11|     10.13|   21.99|   23.61|    1013|      54|     21.92|     240|    33.33|   null|   null|   null|       100|      Clouds|    overcast clouds|
|2011-01-01 18:00:00|22.01|     10000|     9.05|      9.41|   21.09|   22.86|    1013|      53|      20.8|     240|    33.33|   null|   null|   null|        75|      Clouds|      broken clouds|
|2011-01-01 19:00:00|22.24|     10000|     8.51|      9.64|   21.83|   22.86|    1013|      51|      20.8|     250|    32.21|   null|   null|   null|        40|      Clouds|   scattered clouds|
|2011-01-01 20:00:00|22.68|     10000|     8.13|     10.08|   21.99|   23.54|    1013|      49|     24.16|     240|    33.33|   null|   null|   null|        75|      Clouds|      broken clouds|
+-------------------+-----+----------+---------+----------+--------+--------+--------+--------+----------+--------+---------+-------+-------+-------+----------+------------+-------------------+
only showing top 20 rows

In [56]:
energy_consumption_df.show()

+-------------------+--------+
|          date_time|COMED_MW|
+-------------------+--------+
|2011-12-31 01:00:00|  9970.0|
|2011-12-31 01:00:00|  9970.0|
|2011-12-31 02:00:00|  9428.0|
|2011-12-31 03:00:00|  9059.0|
|2011-12-31 04:00:00|  8817.0|
|2011-12-31 04:00:00|  8817.0|
|2011-12-31 05:00:00|  8743.0|
|2011-12-31 06:00:00|  8735.0|
|2011-12-31 07:00:00|  8993.0|
|2011-12-31 08:00:00|  9363.0|
|2011-12-31 09:00:00|  9545.0|
|2011-12-31 10:00:00|  9676.0|
|2011-12-31 11:00:00|  9937.0|
|2011-12-31 12:00:00| 10139.0|
|2011-12-31 13:00:00| 10326.0|
|2011-12-31 14:00:00| 10359.0|
|2011-12-31 15:00:00| 10293.0|
|2011-12-31 16:00:00| 10240.0|
|2011-12-31 17:00:00| 10416.0|
|2011-12-31 18:00:00| 11225.0|
+-------------------+--------+
only showing top 20 rows

# **LOAD**

In [58]:
#Change Datetime column name
weather_df = weather_df.withColumnRenamed("Datetime","date_time")

In [55]:
#Change Datetime column name
energy_consumption_df = energy_consumption_df.withColumnRenamed("Datetime","date_time")

In [30]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://energyconsumptiondb.cnnrufx43ak5.us-east-1.rds.amazonaws.com:5432/EnergyConsumption"
config = {"user":"postgres",
          "password": password,
          "driver":"org.postgresql.Driver"}

Enter database password··········

In [60]:
# Write DataFrame to active_user table in RDS
weather_df.write.jdbc(url=jdbc_url, table='weather_table', mode=mode, properties=config)

In [63]:
# Write DataFrame to active_user table in RDS
energy_consumption_df.write.jdbc(url=jdbc_url, table='energy_table', mode=mode, properties=config)